
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.center{
    text-align: center;
}
.container{
    background-color: rgb(192, 199, 197);
    display: flex;
    flex-flow: row;
    justify-content:center;
    align-items: center;
    
}
#menu{
    background-color: rgb(179, 36, 36);
    display: flex;
    justify-content: center;
}
#menu img{
    display: flex;
    justify-content: space-between;
}

#menu li{
   
    display: inline;
    padding: 1.5rem;
    font-size: 1.2rem;
}
#menu li a{
    text-decoration: none;
    color: #000;
}
#menu li a:hover{
    color: azure;
}
.p-3{
    width: 100%;
    padding: 4rem;
}
.br-50{
   border-radius: 50%;
}
.wh-20{
    width: 20rem;
    height: 20rem;
}
.tm{
   width: 3.3rem;
}
.mb-50{
    margin-bottom: 3rem;
}
/*segunda pagina*/
.ml-50{
    position: relative;
    top: 4rem;
    margin-left: 55rem;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
}
#mapa{
    display: flex;
    justify-content: flex-end;
    top: 70%;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}
.bg{
    background-color: rgb(3, 3, 3);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}
.banner{
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
    top: 15%;
    left: 15%;
    text-shadow: .2rem .2rem rgba(0,0,0,0.3);
}
